﻿<header class="fotofly_fn_header">
    <div class="fotofly_fn_header_content">
        <div class="header_inner">
            <!-- FOR HUGESIZE SCREENS -->
            <div class="header_list">
                <ul class="nav__hor">
                    <li><a class="fotofly_fn_animated_link" href="/Home/Index">Home</a></li>
                    <li>
                        <a class="fotofly_fn_animated_link" href="#">Gallery</a>
                        <ul class="sub_menu">
                            <li>
                                <a class="fotofly_fn_animated_link" href="@Url.Action("Index", "Project", new {page = 1})">
                                    Browse Gallery
                                </a>
                            </li>
                            <li>
                                <a class="fotofly_fn_animated_link" href="@Url.Action("MyProjects","Project")">
                                    My Projects
                                </a>
                            </li>
                            <li>
                                <a class="fotofly_fn_animated_link" href="@Url.Action("Subscribed", "Project")">
                                    My Subscribes
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="fotofly_fn_animated_link" href="/Home/Portfolio">Portfolio</a></li>
                </ul>
                <div class="logo">
                    <a href="/Home/Index">
                        <img class="light" src="@Url.Content("~/Content/mytemplate/")img/logo.png" alt="" />
                        <img class="dark" src="@Url.Content("~/Content/mytemplate/")img/logo.png" alt="" />
                    </a>
                </div>
                <ul class="nav__hor">
                    <li><a class="fotofly_fn_animated_link" href="/Home/Event">Events</a></li>
                    <li><a class="fotofly_fn_animated_link" href="/Community/Index">Blog</a></li>
                    <li><a class="fotofly_fn_animated_link" href="/Home/Profil">Profil</a></li>
                    <li>
                        <a class="fotofly_fn_animated_link" href="#">Shop</a>
                        <ul class="sub_menu">
                            <li>
                                <a class="fotofly_fn_animated_link" href="@Url.Action("Index", "Shop")">
                                    Shop
                                </a>
                            </li>
                            <li>
                                <a class="fotofly_fn_animated_link" href="@Url.Action("MyItems","Shop")">
                                    My Items
                                </a>
                            </li>
                            <li>
                                <a class="fotofly_fn_animated_link" href="@Url.Action("MyOrders", "Shop")">
                                    My Orders
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /FOR HUGESIZE SCREENS -->
            <!-- EXTRA BUTTONS -->
            <div class="header_helper">
                <ul>
                    <li class="search">
                        <a href="#"><img class="svg" src="@Url.Content("~/Content/mytemplate/")img/svg/search.svg" alt="" /></a>
                        <div class="fotofly_fn_search">
                            <div class="in">
                                <form id="searchForm" action="@Url.Action("SearchByKeyword", "Project")" method="get">
                                    <input type="search" name="keyword" placeholder="Search" />
                                    <a href="#" onclick="sendForm()"><img class="svg" src="@Url.Content("~/Content/mytemplate/")img/svg/search.svg" alt="" /></a>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="share">
                        <a href="#"><img class="svg" src="@Url.Content("~/Content/mytemplate/")img/svg/share.svg" alt="" /></a>
                        <ul class="hidden">
                            <li><a href="#"><i class="xcon-facebook-1"></i></a></li>
                            <li><a href="#"><i class="xcon-instagram"></i></a></li>
                            <li><a href="#"><i class="xcon-pinterest-1"></i></a></li>
                            <li><a href="#"><i class="xcon-twitter-1"></i></a></li>
                            <li><a href="#"><i class="xcon-gplus-1"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<script>
    function sendForm() {
        $("#searchForm").submit();
    }
</script>
<!-- /HEADER -->
