﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="FotoFly">
    <meta name="author" content="Frenify">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700,700i|Poppins:300,400,500,600,700&amp;subset=cyrillic" rel="stylesheet">
    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/mytemplate/")css/plugins.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/mytemplate/")css/style.css" />
    <!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
    <!-- /STYLES -->
    <!-- SCRIPTS -->
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>  
    <!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/plugins.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/init.js"></script>
    <!-- /SCRIPTS -->
</head>
<body>
    <div class="fotofly_fn_wrapper_all" data-totop="on">

        <!-- HEADER -->
        <header class="fotofly_fn_header absolute" data-theme="translight">
            <div class="fotofly_fn_header_content">
                <div class="header_inner">
                    <!-- FOR HUGESIZE SCREENS -->
                    <div class="header_list">
                        <ul class="nav__hor">
                            <li><a class="fotofly_fn_animated_link" href="/Home/Index">Home</a></li>
                            <li><a class="fotofly_fn_animated_link" href="/Home/Gallery">Gallery</a></li>
                            <li><a class="fotofly_fn_animated_link" href="/Home/Portfolio">Portfolio</a></li>
                        </ul>
                        <div class="logo">
                            <a href="/Home/Index">
                                <img class="light" src="@Url.Content("~/Content/mytemplate/")img/logo.png" alt="" />
                            </a>
                        </div>
                        <ul class="nav__hor">
                            <li><a class="fotofly_fn_animated_link" href="/Home/Event">Events</a></li>
                            <li>
                                <a class="fotofly_fn_animated_link" href="/Community/Index">Blog</a>
                            </li>
                            <li>
                                <a class="fotofly_fn_animated_link" href="about.html">Profil</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /FOR HUGESIZE SCREENS -->
                    <!-- EXTRA BUTTONS -->
                    <div class="header_helper">
                        <ul>
                            <li class="search">
                                <a href="#"><img class="svg" src="@Url.Content("~/Content/mytemplate/")img/svg/search.svg" alt="" /></a>
                                <div class="fotofly_fn_search">
                                    <div class="in">
                                        <input type="search" placeholder="Search" />
                                        <a href="#"><img class="svg" src="@Url.Content("~/Content/mytemplate/")img/svg/search.svg" alt="" /></a>
                                    </div>
                                </div>
                            </li>
                            <li class="share">
                                <a href="#"><img class="svg" src="@Url.Content("~/Content/mytemplate/")img/svg/share.svg" alt="" /></a>
                                <ul class="hidden">
                                    <li><a href="#"><i class="xcon-facebook-1"></i></a></li>
                                    <li><a href="#"><i class="xcon-instagram"></i></a></li>
                                    <li><a href="#"><i class="xcon-pinterest-1"></i></a></li>
                                    <li><a href="#"><i class="xcon-twitter-1"></i></a></li>
                                    <li><a href="#"><i class="xcon-gplus-1"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- EXTRA BUTTONS -->

                </div>
            </div>
        </header>
        <!-- /HEADER -->

    </div>
    <div>
        @RenderBody()
    </div>
    <!-- FOOTER -->
    <footer class="fotofly_fn_footer">
        <div class="instagram">
            <div class="instagram_content">
                <ul>
                    <li class="follow">
                        <div class="following">
                            <img class="svg" src="@Url.Content("~/Content/mytemplate/")img/svg/instagram.svg" alt="" />
                            <h3><a href="#">FotoFly</a></h3>
                            <p>follow us on instagram</p>
                        </div>
                    </li>
                    <li>
                        <img src="@Url.Content("~/Content/mytemplate/")img/instagram/1.jpg" alt="" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/Content/mytemplate/")img/instagram/2.jpg" alt="" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/Content/mytemplate/")img/instagram/3.jpg" alt="" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/Content/mytemplate/")img/instagram/4.jpg" alt="" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/Content/mytemplate/")img/instagram/5.jpg" alt="" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/Content/mytemplate/")img/instagram/6.jpg" alt="" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <span>Copyright 2017. Designed by <a href="#">Frenify</a></span>
        </div>
    </footer>
    <!-- /FOOTER -->

    <a class="totop" href="#"><span class="line"></span></a>


</body>
</html>
