﻿@using ArtsukiWeb.Models
@using ArtsukiDomain.Entities;
@model ArtsukiWeb.Models.EventViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Details.cshtml";
    var Connected = (ArtsukiViewModel)ViewBag.Connected;
    List<Experience>Experiences = (List <Experience>)ViewBag.Comments;

    float Rating = (float)ViewBag.Rating;
    var dateStart = new DateTime(1970, 1, 1, 0, 0, 0, 0).AddSeconds(Math.Round(Int64.Parse(@Model.dateStart) / 1000d)).ToString("yyyy-MM-dd HH:mm:ss");
    var dateEnd = new DateTime(1970, 1, 1, 0, 0, 0, 0).AddSeconds(Math.Round(Int64.Parse(@Model.dateEnd) / 1000d)).ToString("yyyy-MM-dd HH:mm:ss");

}

<div class="fotofly_fn_content">

    <!-- BREADCRUMBS -->
    <div class="fotofly_fn_breadcrumbs">
        <div class="fotofly_fn_breadcrumbs_content">
            <div class="container">

                <p>
                    <a href="/Home/Index">Home</a>
                    /
                    <a href="/Event/Index">Events</a>
                    /
                    <span>@Model.title</span>
                </p>
            </div>
        </div>
    </div>
    
  
    <style>
        span.stars {
            width: 270px;
            display: inline-block;
        }

        input.star {
            display: none;
        }

        label.star {
            padding: 5px;
            font-size: 40px;
            color: #444;
            transition: all .2s;
        }

        input.star:checked ~ label.star:before {
            content: '\f005';
            color: #FD4;
            transition: all .25s;
        }

        input.star-5:checked ~ label.star:before {
            color: #FE7;
            text-shadow: 0 0 20px #952;
        }

        input.star-1:checked ~ label.star:before {
            color: #F62;
        }

        label.star:before {
            content: '\f006';
            font-family: FontAwesome;
        }


        post_img img {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .overlay {
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            background-color: black;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
            opacity: 0.4;
        }

        .container:hover .overlay {
            bottom: 0px;
            height: 100%;
        }

        .textss {
            white-space: nowrap;
            color: white;
            font-size: 20px;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }
        .buttonmove {
            margin-left:200px;
        }
        .buttonmove1 {
            float: right;
        }
    </style>
    <!-- BLOG SINGLE -->
    <div class="fotofly_fn_blog_single_wrap">
        <div class="fotofly_fn_blog_single">
            <div class="blog_single">
                <div class="container">
                    <div class="blog_single_wrapper">

                        <!-- POST IMAGE -->
                        <div class="post_img">
                            <img src="../../Content/Upload/Event/@Model.photo" alt="Alternate Text" />
                            @if (Model.etat == 1) { 
                            <div class="overlay">
                                <a href=" @Model.id/Participate"> <div class="textss"><i class="fa fa-hand-o-right fa-3x" aria-hidden="true"> Participate</i></div></a>
                           
                            </div>
                            }
                        </div>
                        <!-- /POST IMAGE -->
                        <!-- POST CONTENT -->
                        <div class="post_content">
                            <div class="title_holder">
                                <span>
                                   
                                        
                                  
                                    <a href="#">Du @dateStart au @dateEnd </a><span class=" date stars">
                                                                                    @using (Html.BeginForm("AddRate", "Event", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                                                    {
                                                                                        if (Model.etat == 0) { 
                                                                                    <input type="text" name="idevents" value="@Model.id" hidden/>
                                                                                    <input type="text" name="idarts" value="@Connected.id" hidden />
                                                                                    <input type="text" name="rat" value="@Rating" hidden  />
                                                                                        if (@Rating == 5)
                                                                                        {
                                                                                            <input class="star star-5" id="star-5" type="radio" name="star" value="5" checked />
                                                                                            <label class="star star-5" for="star-5"></label>
                                                                                        }
                                                                                        else
                                                                                        { <input class="star star-5" id="star-5" type="radio" name="star" value="5" />
                                                                                        <label class="star star-5" for="star-5"></label>
                                                                                            }
                                                                                        
                                                                                        if (@Rating == 4)
                                                                                        {
                                                                                            <input class="star star-4" id="star-4" type="radio" name="star" value="4" checked />
                                                                                            <label class="star star-4" for="star-4"></label>
                                                                                        }
                                                                                        else
                                                                                        { <input class="star star-4" id="star-4" type="radio" name="star" value="4" />
                                                                                        <label class="star star-4" for="star-4"></label>
                                                                                        }
                                                                                        if (@Rating == 3)
                                                                                        {
                                                                                            <input class="star star-3" id="star-3" type="radio" name="star" value="3" checked />
                                                                                            <label class="star star-3" for="star-3"></label>
                                                                                        }
                                                                                        else
                                                                                        { <input class="star star-3" id="star-3" type="radio" name="star" value="3" />
                                                                                        <label class="star star-3" for="star-3"></label>
                                                                                        }
                                                                                        if (@Rating == 2)
                                                                                        {
                                                                                            <input class="star star-2" id="star-2" type="radio" name="star" value="2" checked />
                                                                                            <label class="star star-2" for="star-2"></label>
                                                                                        }
                                                                                        else
                                                                                        { <input class="star star-2" id="star-2" type="radio" name="star" value="2" />
                                                                                        <label class="star star-2" for="star-2"></label>
                                                                                        }
                                                                                        if (@Rating == 1)
                                                                                        {
                                                                                            <input class="star star-1" id="star-1" type="radio" name="star" value="1" checked />
                                                                                            <label class="star star-5" for="star-5"></label>
                                                                                        }
                                                                                        else
                                                                                        { <input class="star star-1" id="star-1" type="radio" name="star" value="1" />
                                                                                        <label class="star star-1" for="star-1"></label>
                                                                                            }


                                                                                   
                                                                                        <input type="submit" id="creator-submit" class="buttonmove" value="Send" />
                                                                                   }
                                                                                    @ViewBag.Message
                                                                                    }
                                                                                 



                                    </span>
                                </span>
                                <h3>@Model.title</h3>
                                <p class="text">@Model.description</p>
                            </div>
                            <div class="fotofly_fn_tags">
                                <label>Category:</label>
                                <em><a href="#">@Model.category</a></em>
                            </div>
                            <div class="fotofly_fn_social_icons">
                                <label>Share:</label>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="xcon-facebook-1"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="xcon-twitter-1"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="xcon-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="xcon-pinterest-1"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="xcon-gplus-1"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /POST CONTENT -->
                        <!-- POST COMMENT -->
                        <div class="fotofly_fn_comment_wrapper">
                            <div class="fotofly_fn_comment">
                               

                                @if (Model.etat == 0)
                                {
                                <!-- COMMENTS -->
                                <div class="comments">

                                    <div class="title_holder">
                                        <h3>All Shared Experience</h3>
                                        <a href="@Url.Action("ExperienceView", new { id = Model.id })">See All the pictures</a>
                                    </div>

                                    <!-- #1 COMMENT -->
                                    <div class="comment_single_wrap">
                                        <div class="comment_single">
                                            <div class="person_info">
                                                <div class="info">
                                                    <div class="img_holder">
                                                        <img src="@Url.Content("~/Content/mytemplate/")img/blog/single1-com1.jpg" alt="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="person_comment">
                                                <div class="inner">
                                                    <h5>@Connected.firstname  @Connected.lastname</h5>
                                                    <span><span class="date">@Connected.role</span></span>
                                                    <p>
                                                        @if (Connected.id != 0)
                                                        {
                                                            using (Html.BeginForm("Upload", "Event", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                            {
                                                                <input type="text" name="idevent" value="@Model.id" hidden/>
                                                                <input type="text" name="idart" value="@Connected.id" hidden/>
                                                               <p>
                                                                    <label>Description<span>*</span></label>
                                                                    <textarea id="creator-comment" cols="2" name="description" rows="6" placeholder="Description of the Event"></textarea>
                                                                </p>
                                                                    <label>Photo</label>
                                                                    <input required type="file" name="photos" placeholder="your file .." multiple />

                                                                <div class="your-button">
                                                                    <input type="submit" id="creator-submit" class="buttonmove1" value="Share" />
                                                                </div>
                                                                @ViewBag.Message
                                                            }
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @foreach (var com in Experiences)
                                    {
                                        <div class="comment_single_wrap">
                                            <div class="comment_single">
                                                <div class="person_info">
                                                    <div class="info">
                                                        <div class="img_holder">
                                                            <img src="@Url.Content("~/Content/mytemplate/")img/blog/single1-com1.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="person_comment">
                                                    <div class="inner">
                                                        <h5>@Connected.firstname  @Connected.lastname</h5>
                                                        <span><span class="date">@Connected.role</span></span>
                                                        <p>                                                          
                                                        
                                                                <p>
                                                                   <input type="text" value="@com.Comment" name="newCom" size="100"/>
                                                                    
                                                                 <input type="submit" value="X"  onclick="location.href='@Url.Action("DeleteComment", new { id = com.Id })'" />
                                                                   
                                                                
                                                                </p>                                                            
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    }
                                    <!-- /#1 COMMENT -->

                                </div>
                                }
                                <!-- /COMMENTS -->
                                <!-- ADDING A COMMENT -->


                            </div>
                        </div>
                        <!-- /POST COMMENT -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /BLOG SINGLE -->

</div>


