﻿@model ArtsukiWeb.Models.EventViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Menu.cshtml";
}
<div class="fotofly_fn_content">
    <!-- BREADCRUMBS -->
    <div class="fotofly_fn_breadcrumbs">
        <div class="fotofly_fn_breadcrumbs_content">
            <div class="container">
                <p>
                    <a href="/Home/Index">Home</a>
                    /
                    <a href="Index">Event</a>
                    /
                    <span>New Event</span>
                </p>
            </div>
        </div>
    </div>
    <div class="fotofly_fn_blog_single_wrap">
        <div class="fotofly_fn_blog_single">
            <div class="blog_single">
                <div class="container">
                    <div class="blog_single_wrapper">

                        <div class="fotofly_fn_comment_wrapper">
                            <div class="fotofly_fn_comment">
                                <!-- COMMENTS -->
                                <div class="comments">
                                    <div class="add_comment_wrap">
                                        <div class="add_comment">
                                            <div class="title_holder">
                                                <h3>Create an Event !</h3>
                                            </div>
                                            @using (Html.BeginForm("Edit", "Event", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {
                                                <div class="your-name">
                                                    <label>Title<span>*</span></label>
                                                    <input type="text" id="creator-name" name="title" value="@Model.title" placeholder="Event's Title'" />
                                                </div>
                                                <div class="your-email">
                                                    <label>Category<span>*</span></label>
                                                    <select value="@Model.category" name="category">
                                                        <option value="cinema">Cinema</option>
                                                        <option value="booksigning">Book Signing</option>


                                                    </select>
                                                </div>
                                                <div class="your-email">
                                                    <label>Type<span>*</span></label>
                                                    <select value="@Model.type" name="type">
                                                        <option value="unlimitedSeats">Unlimited Seats</option>
                                                        <option value="limitedSeats">Limited Seats</option>

                                                    </select>
                                                </div>
                                                <div class="your-website">
                                                    <label>Photo</label>
                                                    <img src="../../Content/Upload/Event/@Model.photo" alt="" width="100" />
                                                    <input required type="file" name="photo" id="creator-website" placeholder="your file .." />
                                                </div>
                                                <div class="your-comment">
                                                    <label>Place<span>*</span></label>
                                                    <input type="text" id="creator-name" value="@Model.places" name="place" placeholder="Localisation'" />
                                                </div>
                                                <div class="your-comment">
                                                    <label>Description<span>*</span></label>
                                                    <textarea id="creator-comment" cols="3" value="@Model.description" name="description" rows="10" placeholder="Description of the Event"></textarea>
                                                </div>


                                                <div class="your-button">
                                                    <input type="submit" id="creator-submit" value="Create your Event" />
                                                </div>
                                                @ViewBag.Message
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



