﻿@using ArtsukiWeb.Models
@using ArtsukiDomain.Entities
@model IEnumerable<ArtsukiWeb.Models.ExperienceViewModel>
@{
    ViewBag.Title = "ExperienceView";
    Layout = "~/Views/Shared/_Details.cshtml";
}

<!-- CONTENT -->
<div class="fotofly_fn_content">
    <div class="fotofly_fn_breadcrumbs">
        <div class="fotofly_fn_breadcrumbs_content">
            <div class="container">

                <p>
                    <a href="/Home/Index">Home</a>
                    /
                    <a href="/Event/Index">Events</a>
                    /
                    <span>Photos</span>
                </p>
            </div>
        </div>
    </div>
    <div class="fotofly_fn_gallery">
        <div class="fotofly_fn_gallery_in">
            <div class="gallery_page">

                <div class="gallery_list gallery">
                    <ul class="fotofly_fn_masonry">
                        @foreach (ExperienceViewModel e in Model) { 
                        <li class="fotofly_fn_masonry_in">
                            <div class="item">
                                <img src="../../Content/Upload/Event/@e.Photo" alt="nope" />
                            </div>
                        </li>
                        }
                    </ul>
                </div>


            </div>
        </div>
    </div>


</div>
<!-- /CONTENT -->

