﻿@using ArtsukiWeb.Models
@using ArtsukiDomain.Entities
@model IEnumerable<ArtsukiWeb.Models.EventViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Details.cshtml";

}
<!-- CONTENT -->
<div class="fotofly_fn_content">

    <!-- CLIENTS -->
    <div class="fotofly_fn_clients">
        <div class="fotofly_fn_clients_in">
            <div class="container">
                <div class="clients_wrap">

                    <!-- BREADCRUMBS -->
                    <div class="fotofly_fn_breadcrumbs">
                        <div class="fotofly_fn_breadcrumbs_content">
                            <div class="container">

                                <p>
                                    <a href="/Home/Index">Home</a>
                                    /
                                    <span>Events</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /BREADCRUMBS -->
                    <a href="@Url.Action("Create","Event")">Add Event</a>

                    <div class="title_holder">
                        <h3>Our Events</h3>
                    </div>


                    <div class="clients_list">
                        <ul class="fotofly_fn_masonry">


                            @foreach (EventViewModel e in Model)
                            {
                               // var dt = new DateTime(1970, 1, 1, 0, 0, 0, 0).AddSeconds(Math.Round(e.datePub / 1000d)).ToString("yyyy/MM/dd");
 
                                <li class="fotofly_fn_masonry_in">
                                    <div class="item">
                                        <div class="img_holder">
                                            <a href="@Url.Action("Details", new {id = e.id})"><img src="../../Content/Upload/Event/@e.photo" alt="" /></a>
                                        </div>
                                        <div class="name_holder">
                                            <span>@e.description </span>
                                            <a href="/Event/Details">@e.title </a>
                                        </div>
                                    </div>
                                </li>

                            }

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /CLIENTS -->

</div>
<!-- /CONTENT -->
