﻿
@{
    ViewBag.Title = "CheckConnection";
    Layout = "~/Views/Shared/_PageWithoutFooter.cshtml";
}
<div class="fotofly_fn_content">
        
        
    <!-- HERO HEADER -->
    <div class="fotofly_fn_heroheader page_error" data-text-color="#fff" data-window-height="on" data-padding-top="" data-padding-bottom="" data-bg-color="#3d0303" data-bg-opacity="0.6">
        <div class="fotofly_fn_heroheader_inner">

            <div class="heroheader_content_wrap">
                <div class="heroheader_content_inner">

                    <div class="heroheader_content">
                        <div class="content_inner">

                            <!-- HERO CONTENT HERE -->
                                
                            <div class="fotofly_fn_errorpage">
                                <div class="fotofly_fn_errorpage_in">
                                    <div class="container">
                                        <div class="errorpage">
                                                    
                                                    
                                            <!-- BREADCRUMBS -->
                                            <div class="fotofly_fn_breadcrumbs">
                                                <div class="fotofly_fn_breadcrumbs_content">
                                                    <div class="container">
                                                        <p>
                                                            <a href="index-2.html">Home</a>
                                                            /
                                                            <span>Connection Lost</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /BREADCRUMBS -->
                                                    
                                            <div class="title_holder">
                                                <h3>Sorry, But it seems that we have lost connection with the server</h3>
                                                <h1>500</h1>
                                                <p>We are sorry, Please give us a visit another time !</p>
                                            </div>
                                                    
                                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    
                                    
                            <!-- /HERO CONTENT HERE -->

                        </div>
                    </div>

                </div>
            </div>

            <div class="heroheader_bg_wrap">
                <div class="overlay_color"></div>
                <div class="overlay_image"></div>
                <div class="overlay_video"></div>
            </div>


        </div>
    </div>
    <!-- /HERO HEADER -->
        
        
</div>
<!-- /CONTENT -->