﻿@using ArtsukiWeb.Models
@model IEnumerable<ArtsukiWeb.Models.ArtsukiViewModel>

@{
    ViewBag.Title = "Collaborators";
    Layout = "~/Views/Shared/_PageWithoutFooter.cshtml";
    var Project=(ProjectViewModel)ViewBag.Project;
    var Connected = (ArtsukiViewModel) ViewBag.Connected;
}
<div class="fotofly_fn_content">

    <!-- CLIENTS -->
    <div class="fotofly_fn_clients">
        <div class="fotofly_fn_clients_in">
            <div class="container">
                <div class="clients_wrap">

                    <!-- BREADCRUMBS -->
                    <div class="fotofly_fn_breadcrumbs">
                        <div class="fotofly_fn_breadcrumbs_content">
                            <div class="container">
                                <p>
                                    <a href="@Url.Action("Index", "Home")">Home</a>
                                    /
                                    <a href="@Url.Action("Index", "Project")">Gallery</a>
                                    /
                                    <a href="@Url.Action("Details", "Project", new {id = Project.id})">@Project.title</a>
                                    /
                                    <span>Collaborators</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /BREADCRUMBS -->
                    <div class="title_holder">
                        <h3>@Project.title's Collaborators</h3>
                    </div>
                    <div class="clients_list">
                        <ul class="fotofly_fn_masonry">
                            @if (Model == null)
                            {
                                <li style="margin-left: 30%">
                                    @if (Project == null)
                                    {
                                        <h1>No Project With this ID</h1>
                                    }
                                    else
                                    {
                                        <h1 style="text-align: center">@Project.title has no collaborators currently!</h1>
                                    }
                                 
                                </li>
                            }
                            else
                            {
                                foreach (var artsuki in Model)
                                {
                                    <li class="fotofly_fn_masonry_in">
                                        @if (Project.publisher.id == Connected.id)
                                        {
                                            <form id="removeCollaboratorForm_@artsuki.id" action="/Project/Collaborator/remove" method="post">
                                                <input type="hidden" value="@artsuki.id" name="artsukiId"/>
                                                <input type="hidden" name="projectId" value="@Project.id"/>
                                                <a onclick="doSubmit(@artsuki.id)"><span class="fa fa-window-close"> Remove</span></a>
                                            </form>
                                        }
                                        <div class="item">
                                            <div class="img_holder">
                                                <a href="#"><img src="@Url.Content("~/Content/Upload/artist.png")" alt=""/></a>
                                            </div>
                                            <div class="name_holder">
                                                <span>@artsuki.firstname @artsuki.lastname</span>
                                                <a href="#">@artsuki.email</a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /CLIENTS -->

</div>
@section scripts
{
    <script>
        function doSubmit(id) {
            $("#removeCollaboratorForm_"+id).submit();
            return false;
        }
    </script>
}

