﻿@using ArtsukiWeb.Models
@model ArtsukiWeb.Models.ProjectViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_TemplateWithoutPagination.cshtml";
    var Connected = (ArtsukiViewModel)ViewBag.Connected;
    var NbCollaborator = (int)ViewBag.NbCollaborator;
    var NbSubscriber = (int)ViewBag.NbSubscriber;
    var NbViews = (int)ViewBag.NbViews;
    var iduser = 0;
    var SubscribedProject = (IEnumerable<ProjectViewModel>)ViewBag.Subscribed;
    var ConnectedUser = (ArtsukiViewModel)ViewBag.ConnectedUser;
}
<div class="fotofly_fn_content">

    <!-- CLIENT SINGLE -->
    <div class="fotofly_fn_client_single" data-title-style="">
        <div class="fotofly_fn_client_single_in">
            <div class="container">
                <div class="client_single">

                    <!-- BREADCRUMBS -->
                    <div class="fotofly_fn_breadcrumbs">
                        <div class="fotofly_fn_breadcrumbs_content">
                            <div class="container">
                                <p>
                                    <a href="@Url.Action("Index", "Home")">Home</a>
                                    /
                                    <a href="@Url.Action("Index", "Project")">Gallery</a>
                                    /
                                    <span>@Model.title</span>
                                </p>
                                @if (Model.publisher.id == Connected.id)
                                {
                                    <form method="post" action="@Url.Action("AddCollaborator", "Project")">
                                        <p>
                                            <input type="hidden" name="projectId" value="@Model.id" />
                                            <input type="hidden" id="user_id" name="user_id" />
                                            <input type="text" id="collaborator" name="collaborator" />
                                            <input type="submit" value="Add Collaborator" onclick="copyValue()" />
                                            <a href="@Url.Action("Delete", new { id = Model.id  })" onclick="return confirm('Are you sure you want to delete @Model.title ?')">
                                                <span class="xcon-trash-empty"></span>
                                            </a>
                                            <a href="#" onclick="location.href = '@Url.Action("Edit", new {id = Model.id})'">
                                                <span class="xcon-tools"></span>
                                            </a>
                                        </p>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- /BREADCRUMBS -->

                    <div class="info_holder">
                        <div class="info">
                            <div class="img_holder">
                                <img src="@Url.Content("~/Content/Upload/Shop/")@Model.photo" alt=""
                                     style="height: 200px; width: 200px;" />
                            </div>
                            <div class="title_holder">
                                <div class="title" style="display: flex; justify-content: space-between">
                                    <h5>@Model.title</h5>
                                    @if (Model.publisher.id != Connected.id)
                                    {
                                        if (SubscribedProject.FirstOrDefault(p => p.id == Model.id) == null)
                                        {
                                            <a href="@Url.Action("Subscribe", "Project", new {id = Model.id})" class="btn btn-danger" role="button">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Unsubscribe", "Project", new {id = Model.id})" class="btn btn-danger" role="button">
                                                <span class="fa fa-heart">

                                                </span>
                                            </a>
                                        }
                                    }
                                </div>
                                <div class="subtitle">
                                    <p>@Model.description</p>
                                </div>
                                <div style="display: flex; justify-content: space-between; flex-direction: row-reverse">
                                    <a href="@Url.Action("Collaborators", "Project", new {id = Model.id})"><span class="fa fa-users"> @NbCollaborator Collaborators</span></a>
                                    <a href="@Url.Action("Subscribers", "Project", new {id = Model.id})"><span class="fa fa-heart"> @NbSubscriber Subscribers</span></a>
                                    <span><span class="xcon-eye"> @NbViews Views</span></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="works_list">
                        <ul class="fotofly_fn_masonry">
                            <li class="fotofly_fn_masonry_in">
                                <div class="item">
                                    <div class="img_holder">
                                        <img src="@Url.Content("~/Content/Upload/Shop/")WP_Encrusted_II-2560x1440_00257.jpg" alt="" />
                                    </div>
                                    <div class="title_holder">
                                        <span>
                                            <a href="#">Coming Soon</a>
                                        </span>
                                        <h3>
                                            <a href="#">Yet To Come</a>
                                        </h3>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /CLIENT SINGLE -->



</div>
<script>
    $(document).ready(function () {
        $("#collaborator").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Artsuki",
                    type: "POST",
                    dataType: "json",
                    data: { keyword: request.term },
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                console.log(item);
                                return { label: item.email, value: item.value , hidee: item.id}
                            }));
                    },
                });
            },
            messages: {
                noResults: "", results: ""
            },
            select: function (event, ui) {
                $("#user_id").attr("value", ui.item.hidee);
            } 
        });
    })
</script>