﻿@model ArtsukiWeb.Models.ProjectViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_TemplateWithoutPagination.cshtml";
}

<div class="fotofly_fn_content">
    <!-- BREADCRUMBS -->
    <div class="fotofly_fn_breadcrumbs">
        <div class="fotofly_fn_breadcrumbs_content">
            <div class="container">
                <p>
                    <a href="Index">Home</a>
                    /
                    <a href="Project/Index">Gallery</a>
                    /
                    <span>New Project</span>
                </p>
            </div>
        </div>
    </div>
    <div class="fotofly_fn_blog_single_wrap">
        <div class="fotofly_fn_blog_single">
            <div class="blog_single">
                <div class="container">
                    <div class="blog_single_wrapper">
                        @Html.AntiForgeryToken()
                        <div class="fotofly_fn_comment_wrapper">
                            <div class="fotofly_fn_comment">

                                <!-- COMMENTS -->
                                <div class="comments">
                                    <div class="add_comment_wrap">
                                        <div class="add_comment">
                                            <div class="title_holder">
                                                <h3>Start your own project now</h3>
                                            </div>
                                            @using (Html.BeginForm("Edit",
                                                "Project",
                                                FormMethod.Post,
                                                new { enctype = "multipart/form-data" }))
                                            {
                                                <div class="your-name">
                                                    <label>Title<span>*</span></label>
                                                    <input type="text" value="@Model.title" id="creator-name" name="title" placeholder="Your Title" />
                                                </div>
                                                <div class="your-comment">
                                                    <label>Description<span>*</span></label>
                                                    <textarea id="creator-comment" value="@Model.description" cols="3" name="description" rows="10" placeholder="Some description here ..">@Model.description</textarea>
                                                </div>
                                                <div class="your-email">
                                                    <label>Category<span>*</span></label>
                                                    <select value="@Model.category" name="category">
                                                        <option value="ARCHITECTURE">ARCHITECTURE</option>
                                                        <option value="SCULPTURE">SCULPTURE</option>
                                                        <option value="PAINTING">PAINTING</option>
                                                        <option value="MUISC">MUISC</option>
                                                        <option value="LITERATURE">LITERATURE</option>
                                                        <option value="SCENE_ARTS">SCENE_ARTS</option>
                                                        <option value="CINEMA">CINEMA</option>
                                                        <option value="MEDIA_ARTS">MEDIA_ARTS</option>
                                                        <option value="ANIME_MANGA">ANIME_MANGA</option>
                                                        <option value="DIGITAL_ART">DIGITAL_ART</option>
                                                        <option value="PERSONAL">PERSONAL</option>
                                                    </select>
                                                </div>
                                                <div class="your-website">
                                                    <label>Photo</label>
                                                    <input type="file" name="photo" id="creator-website" placeholder="your file .." />
                                                </div>
                                                <input type="hidden" name="imageNameReserve" value="@Model.photo" />
                                                <div class="your-button">
                                                    <input type="submit" id="creator-submit" value="Edit" />
                                                </div>
                                                @ViewBag.Message
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





