﻿@using ArtsukiDomain.Entities
@using ArtsukiWeb.Models
@model IEnumerable<ArtsukiWeb.Models.ProjectViewModel>

@{
    ViewBag.Title = "Browse projects";
    var SubscribedProject = (IEnumerable<ProjectViewModel>) ViewBag.Subscribed;
    var ConnectedUser = (ArtsukiViewModel) ViewBag.ConnectedUser;
    Layout = "~/Views/Shared/_TemplateWithoutPagination.cshtml";
    var Page = (int) ViewBag.Page;
    var nbPages = (int?) ViewBag.TotalPage;
}
<div class="fotofly_fn_content">
   
    <!-- BREADCRUMBS -->
    <div class="fotofly_fn_breadcrumbs">
        <div class="fotofly_fn_breadcrumbs_content">
            <div class="container">
                <p> @nbPages
                    <a href="index-2.html">Home</a>
                    /
                    <span>Projects</span>
                </p>
            </div>
        </div>
    </div>
    <!-- /BREADCRUMBS -->
    <div class="title_holder" style="background-color: #f5f5f5; display: flex; justify-content: space-around; align-items: center; padding:0% 0 5% 0">
        <h2>List of current projects</h2>
        <p>
            <a href="#" onclick="location.href='@Url.Action("Create","Project")'">
                <input type="submit" value="Start Your Own Project !"/>
            </a>
        </p>
    </div>
    <!-- BLOG -->
    <div class="fotofly_fn_blog_wrap">
        <div class="fotofly_fn_blog">
            <div class="blog">
                <div class="container">
                    <div class="blog_wrapper">
    						
                        <div class="blog_content">
                            @Html.Partial("_Loading")
                            <ul class="fotofly_fn_masonry mypost">
                                @if (Model == null)
                                {
                                    <h2>There is no project right now ! Or the connection with server is lost!</h2>
                                    <p>Please retry another time !</p>
                                }
                                else
                                {
                                    foreach (ProjectViewModel project in Model)
                                    {
                                        <li class="fotofly_fn_masonry_in" data-aos="zoom-in-down">
                                            <div class="post">
                                                <div class="img_holder">
                                                    <a href="@Url.Action("Details", new {id = project.id})">
                                                        <img src="@Url.Content("~/Content/Upload/Shop")/@project.photo" alt=""/>
                                                    </a>
                                                </div>
                                                <div class="title_holder">
                                                    <span>
                                                        <a class="category" href="blog_single.html">@project.category</a>
                                                        <span class="date">
                                                            <span class="xcon-eye"></span>
                                                            @project.numberOfView
                                                        </span>
                                                    </span>
                                                    <h3>
                                                        <a href="@Url.Action("Details", "Project", new {id = project.id})">
                                                            @project.title
                                                        </a>
                                                    </h3>
                                                    <p>@project.description</p>
                                                    <p>
                                                        <a href="@Url.Action("Details", "Project", new {id = project.id})" class="btn btn-primary" role="button">
                                                            <span class="xcon-zoom-in"></span>
                                                        </a>
                                                       @if (ConnectedUser.id != project.publisher.id)
                                                       {
                                                           if (SubscribedProject == null)
                                                            {
                                                                <a href="/Project/@project.id/Subscribe" class="btn btn-danger" role="button"><span class="xcon-heart-empty"></span></a>
                                                            }
                                                            else
                                                            {
                                                                if (SubscribedProject.FirstOrDefault(p => p.id == project.id) == null)
                                                                {
                                                                    <a href="@Url.Action("Subscribe", "Project", new {id = project.id})" class="btn btn-danger" role="button">
                                                                        <span class="xcon-heart-empty"></span>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="@Url.Action("Unsubscribe", "Project", new {id = project.id})" class="btn btn-danger" role="button">
                                                                        <span class="xcon-heart">

                                                                        </span>
                                                                    </a>
                                                                }
                                                            }
                                                       }

                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }

                            </ul>
                        </div>
    						
                        <!-- PAGINATION -->
                        <div class="fotofly_fn_pagination">
                            <div class="pagination">
                                <ul>
               
                
                                    @for (var i = 1; i < nbPages; i++)
                                    {
                                        if (i == Page)
                                        {
                                            <li><a class="active" href="#">@i</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("Index","Project", new { page = i  })">@i</a></li> 
                                        }

                                    }
                                </ul>
                            </div>
                        </div></div></div></div></div></div></div>
@section HeaderScript {
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
}

@section scripts {
    <script>
        $(document).ready(function() {
            AOS.init();
        })

    </script>
}