﻿@using ArtsukiWeb.Models
@model IEnumerable<ProjectViewModel>
@{
    var SubscribedProject = (IEnumerable<ProjectViewModel>) ViewBag.Subscribed;
    var ConnectedUser = (ArtsukiViewModel) ViewBag.ConnectedUser;
}

@foreach (ProjectViewModel project in Model)
                                    {
<li class="fotofly_fn_masonry_in" >
    <div class="post">
        <div class="img_holder">
            <a href="#" onclick="location.href='@Url.Action("Details", new { id = project.id  })'">
                <img src="@Url.Content("~/Content/Upload/Shop")/@project.photo" alt="" />
            </a>
        </div>
        <div class="title_holder">
            <span>
                <a class="category" href="blog_single.html">@project.category</a>
                <span class="date">
                    <span class="xcon-eye"></span>
                    @project.numberOfView
                </span>
            </span>
            <h3>
                <a href="#" onclick="location.href = '@Url.Action("Details", new {id = project.id})'">
                    @project.title
                </a>
            </h3>
            <p>@project.description</p>
            <p>
                <a href="#" onclick="location.href='@Url.Action("Details", new { id = project.id  })'" class="btn btn-primary" role="button">
                    <span class="xcon-zoom-in"></span>
                </a>
                @if (SubscribedProject == null)
                {
                    <a href="@project.id/Subscribe" class="btn btn-danger" role="button"><span class="xcon-heart-empty"></span></a>
                }
                else
                {
                    if (SubscribedProject.FirstOrDefault(p => p.id == project.id) == null)
                    {
                        <a href="@project.id/Subscribe" class="btn btn-danger" role="button"><span class="xcon-heart-empty"></span></a>
                    }
                    else
                    {
                        <a href="@project.id/Unsubscribe" class="btn btn-danger" role="button"><span class="xcon-heart"></span></a>
                    }
                }

            </p>
        </div>
    </div>
</li>
                                    }
                                }
