﻿@using ArtsukiWeb.Models
@model IEnumerable<ArtsukiWeb.Models.ArtsukiViewModel>

@{
    ViewBag.Title = "Collaborators";
    Layout = "~/Views/Shared/_PageWithoutFooter.cshtml";
    var Project = (ProjectViewModel)ViewBag.Project;
    var Connected = (ArtsukiViewModel)ViewBag.Connected;
}
<div class="fotofly_fn_content">

    <!-- CLIENTS -->
    <div class="fotofly_fn_clients">
        <div class="fotofly_fn_clients_in">
            <div class="container">
                <div class="clients_wrap">

                    <!-- BREADCRUMBS -->
                    <div class="fotofly_fn_breadcrumbs">
                        <div class="fotofly_fn_breadcrumbs_content">
                            <div class="container">
                                <p>
                                    <a href="@Url.Action("Index", "Home")">Home</a>
                                    /
                                    <a href="@Url.Action("Index", "Project")">Gallery</a>
                                    /
                                    <a href="@Url.Action("Details", "Project", new {id = Project.id})">@Project.title</a>
                                    /
                                    <span>Subscribers</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /BREADCRUMBS -->
                    <div class="title_holder">
                        <h3>@Project.title's Subscribers</h3>
                    </div>

                    @if (Model.Any() == false)
                    {

                        if (Project == null)
                        {
                            <h1>No Project With this ID</h1>
                        }
                        else
                        {
                            <h1 style="text-align: center">@Project.title Has No Subscriber!</h1>
                        }



                    }
                    else
                    {
                        <div class="clients_list">
                            <ul class="fotofly_fn_masonry">
                                @foreach (var artsuki in Model)
                                {
                                    <li class="fotofly_fn_masonry_in">
                                        @if (artsuki.id == Connected.id)
                                        {
                                            <a href="@Url.Action("Unsubscribe", "Project", new {id = Project.id})"><span class="fa fa-window-close"> Remove</span></a>
                                        }
                                        <div class="item">
                                            <div class="img_holder">
                                                <a href="#"><img src="@Url.Content("~/Content/Upload/artist.png")" alt="" /></a>
                                            </div>
                                            <div class="name_holder">
                                                <span>@artsuki.firstname @artsuki.lastname</span>
                                                <a href="#">@artsuki.email</a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <!-- /CLIENTS -->

</div>
