﻿@using ArtsukiWeb.Models
@model IEnumerable<ArtsukiWeb.Models.ProjectViewModel>
@{
    ViewBag.Title = "My Subscriptions";
    var Connected = (ArtsukiViewModel)ViewBag.Connected;
    Layout = "~/Views/Shared/_TemplateWithoutPagination.cshtml";
}

<div class="fotofly_fn_content">

    <!-- SPLITSCREEN -->
    <div class="fotofly_fn_page_splitscreen blog_page">
        <div class="fotofly_fn_page_splitleft">
            <div class="splitscreen_title">
                <div class="in">

                    <div class="title_holder">
                        <h1>@Connected.firstname</h1>
                        <p>@Connected.email</p>
                    </div>

                </div>
            </div>
            <div class="splitscreen_title_back">
                <div class="bg" style="background-image: url(@Url.Content("~/Content/mytemplate/")img/blog/bg_blog.jpg)"></div>
            </div>
        </div>
        <div class="fotofly_fn_page_splitright">
            <div class="in">

                <!-- RIGHT CONTENT HERE -->
                <!-- BREADCRUMBS -->
                <div class="fotofly_fn_breadcrumbs">
                    <div class="fotofly_fn_breadcrumbs_content">
                        <div class="container">
                            <p>
                                <a href="index-2.html">Home</a>
                                /
                                <span>My Subscribed Projects</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /BREADCRUMBS -->
                <!-- BLOG -->
                <div class="fotofly_fn_blog_wrap">
                    <div class="fotofly_fn_blog">
                        <div class="blog">
                            <div class="container">
                                <div class="blog_wrapper">
                                    <div class="blog_content">
                                        <ul class="fotofly_fn_masonry mypost">
                                           @if (Model == null)
                                           {
                                               <li>You Have Not Subscribe To Any Project</li>
                                           }
                                           else
                                           {
                                            foreach (var project in @Model)
                                            {
                                                <li class="fotofly_fn_masonry_in">
                                                    <a href="#" onclick="location.href='@Url.Action("Unsubscribe", new { id = project.id  })'">
                                                        <span class="xcon-trash-empty"></span>
                                                    </a>
                                                    <div class="post">
                                                        <div class="img_holder">
                                                            <a href="blog_single.html">
                                                                <img src="@Url.Content("~/Content/Upload/Shop")/@project.photo" alt="" />
                                                            </a>
                                                        </div>
                                                        <div class="title_holder">
                                                            <span>
                                                                <a class="category" href="blog_single.html">@project.category</a>
                                                                <span class="date">
                                                                    <span class="xcon-eye"></span>
                                                                    @project.numberOfView
                                                                </span>
                                                            </span>
                                                            <h3><a href="blog_single.html">@project.title</a></h3>
                                                            <p>@project.description</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                           }
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

