﻿@model 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Details.cshtml";
}

<!-- CONTENT -->
<div class="fotofly_fn_content">

    <div class="fotofly_fn_gallery">
        <div class="fotofly_fn_gallery_in">
            <div class="gallery_page">

                <div class="gallery_list gallery">
                    <ul class="fotofly_fn_masonry">
                        <li class="fotofly_fn_masonry_in">
                            <div class="item">
                                <a href="@Url.Content("~/Content/mytemplate/")img/blog/post_1.jpg"><img src="@Url.Content("~/Content/mytemplate/")img/blog/post_1.jpg" alt="" /></a>
                            </div>
                        </li>
                       
                    </ul>
                </div>


            </div>
        </div>
    </div>


</div>
<!-- /CONTENT -->