﻿@model ArtsukiWeb.Models.ExperienceViewModel
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Menu.cshtml";
}
<div class="fotofly_fn_content">
    <!-- BREADCRUMBS -->
    <div class="fotofly_fn_breadcrumbs">
        <div class="fotofly_fn_breadcrumbs_content">
            <div class="container">
                <p>
                    <a href="/Home/Index">Home</a>
                    /
                    <a href="Index">Event</a>
                    /
                    <span>New Event</span>
                </p>
            </div>
        </div>
    </div>
    <div class="fotofly_fn_blog_single_wrap">
        <div class="fotofly_fn_blog_single">
            <div class="blog_single">
                <div class="container">
                    <div class="blog_single_wrapper">

                        <div class="fotofly_fn_comment_wrapper">
                            <div class="fotofly_fn_comment">
                                <!-- COMMENTS -->
                                <div class="comments">
                                    <div class="add_comment_wrap">
                                        <div class="add_comment">
                                            <div class="title_holder">
                                                <h3>Create an Event !</h3>
                                            </div>
                                            @using (Html.BeginForm("Upload", "Experience", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {



                                                <div class="your-website">
                                                    <label>Photo</label>
                                                    <input required type="file" name="photo" id="creator-website" placeholder="your file .." multiple />
                                                </div>



                                                <div class="your-button">
                                                    <input type="submit" id="creator-submit" value="Create your Event" />
                                                </div>
                                                @ViewBag.Message
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



