﻿@using ArtsukiDomain.Entities
@using ArtsukiWeb.Models
@model IEnumerable<ArtsukiWeb.Models.CommunityViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Details.cshtml";
}

<div class="fotofly_fn_content">
    <div class="fotofly_fn_breadcrumbs">
        <div class="fotofly_fn_breadcrumbs_content">
            <div class="container">
                <p>
                    <a href="/Home/Index">Home</a>
                    <span>Blog</span>
                </p>
            </div>
        </div>
    </div>
    <!-- /BREADCRUMBS -->
    <!-- BLOG -->
    <div class="fotofly_fn_blog_wrap">
        <div class="fotofly_fn_blog">
            <div class="blog">
                <div class="container">
                    <div class="blog_wrapper">
                        <div class="blog_content">
                            <ul class="fotofly_fn_masonry mypost">
                                <li class="fotofly_fn_masonry_in">
                                    <div class="post">
                                          @foreach (CommunityViewModel community in Model)
                                            {
                                        <div class="img_holder">
                                            <a href="/Home/CommunitySingle">
                                                  <img src="../../Content/Upload/Shop/@community.attachement" alt="...">
                                            </a>
                                        </div>
                                        <div class="title_holder">
                                            <span><a class="category" href="/Home/CommunitySingle">@community.theme</a><span class="date">April 01</span></span>
                                            <h3><a href="/Home/CommunitySingle">The Miracle Of Fashion</a></h3>
                                            <p>@community.message</p>
                                        </div>
                                          }
                                    </div>
                                            
                                </li>
                                <li class="fotofly_fn_masonry_in">
                                    <div class="post">
                                        <div class="img_holder">
                                            <a href="/Home/CommunitySingle">
                                                <img src="@Url.Content("~/Content/mytemplate/")img/blog/post_2.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="title_holder">
                                            <span><a class="category" href="/Home/CommunitySingle">Fashion</a><span class="date">April 01</span></span>
                                            <h3><a href="/Home/CommunitySingle">Fashion Expert Interview</a></h3>
                                            <p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="fotofly_fn_masonry_in">
                                    <div class="post">
                                        <div class="img_holder">
                                            <a href="/Home/CommunitySingle">
                                                <img src="@Url.Content("~/Content/mytemplate/")img/blog/post_3.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="title_holder">
                                            <span><a class="category" href="/Home/CommunitySingle">Travel</a><span class="date">April 01</span></span>
                                            <h3><a href="/Home/CommunitySingle">How To Use travel To Desire</a></h3>
                                            <p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="fotofly_fn_masonry_in">
                                    <div class="post">
                                        <div class="img_holder">
                                            <a href="/Home/CommunitySingle">
                                                <img src="@Url.Content("~/Content/mytemplate/")img/blog/post_4.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="title_holder">
                                            <span><a class="category" href="/Home/CommunitySingle">Fashion</a><span class="date">April 01</span></span>
                                            <h3><a href="/Home/CommunitySingle">The Lazy Way To fashion</a></h3>
                                            <p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="fotofly_fn_masonry_in">
                                    <div class="post">
                                        <div class="img_holder">
                                            <a href="/Home/CommunitySingle">
                                                <img src="@Url.Content("~/Content/mytemplate/")img/blog/post_5.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="title_holder">
                                            <span><a class="category" href="/Home/CommunitySingle">Fashion</a><span class="date">April 01</span></span>
                                            <h3><a href="/Home/CommunitySingle">The A - Z Guide Of fashion</a></h3>
                                            <p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="fotofly_fn_masonry_in">
                                    <div class="post">
                                        <div class="img_holder">
                                            <a href="/Home/CommunitySingle">
                                                <img src="@Url.Content("~/Content/mytemplate/")img/blog/post_6.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="title_holder">
                                            <span><a class="category" href="/Home/CommunitySingle">Travel</a><span class="date">April 01</span></span>
                                            <h3><a href="/Home/CommunitySingle">How To Save Money with travel?</a></h3>
                                            <p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="fotofly_fn_masonry_in">
                                    <div class="post">
                                        <div class="img_holder">
                                            <a href="/Home/CommunitySingle">
                                                <img src="@Url.Content("~/Content/mytemplate/")img/blog/post_7.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="title_holder">
                                            <span><a class="category" href="/Home/CommunitySingle">Fashion</a><span class="date">April 01</span></span>
                                            <h3><a href="/Home/CommunitySingle">The Ultimate Guide To fashion</a></h3>
                                            <p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="fotofly_fn_masonry_in">
                                    <div class="post">
                                        <div class="img_holder">
                                            <a href="/Home/CommunitySingle">
                                                <img src="@Url.Content("~/Content/mytemplate/")img/blog/post_8.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="title_holder">
                                            <span><a class="category" href="/Home/CommunitySingle">Fashion</a><span class="date">April 01</span></span>
                                            <h3><a href="/Home/CommunitySingle">14 Days To A Better fashion</a></h3>
                                            <p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="fotofly_fn_masonry_in">
                                    <div class="post">
                                        <div class="img_holder">
                                            <a href="/Home/CommunitySingle">
                                                <img src="@Url.Content("~/Content/mytemplate/")img/blog/post_9.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="title_holder">
                                            <span><a class="category" href="/Home/CommunitySingle">Fashion</a><span class="date">April 01</span></span>
                                            <h3><a href="/Home/CommunitySingle">Get Rid of fashion Once and For All</a></h3>
                                            <p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /BLOG -->
</div>


