﻿@model ArtsukiWeb.Models.ArtsukiViewModel

@{
    ViewBag.Title = "authenticate";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")bootstrap.css" />
<style>
    body{
        background-color:#eef1de;
    }
    .red{
        color:red;
    }
    #password{
        width:100%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal"><br /><br /><br />
                        <center> <h1>Authentification </h1>
                            <b class="red">@ViewBag.msg</b>
                        </center>
                        <hr />
                        <div class="panel-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                            <div class="form-group">
                                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                   
                                </div>
                                
                                
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Sign in" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div>
                </div>
            </div>
        </div>
    </div>
</div>