﻿
@{
    ViewBag.Title = "confirm";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

<container>
    <center>
        <h1>@ViewBag.result</h1>
        <a href="/Artsuki/authenticate">Click here to log in</a>
    </center>

</container>

