﻿
@{
    ViewBag.Title = "invite";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

<h2>invite</h2>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")bootstrap.css" />
<script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/sweetalert.min.js"></script>
<script>
    function sendMail()
    {

        $.ajax({
            url: '/Artsuki/invite',
            type: 'POST',
            data: {type: 'single',mail: document.getElementById("mailField").value},
            success: function (code_html, statut) {
                swal("Good job!", "An email has been sent to " + document.getElementById("mailField").value + "! ", "success");
            }
        });
    }
</script>
<style>
    .customBtn{
        height:40px;
    }
</style>
<container>
    <div class="col-md-6 col-md-offset-3">
        <div class="well"><center>
                              <b>Invite your friends and win prizes !</b><br /><br />
    <img src="@Url.Content("~/Content/mytemplate/img/")maill.gif" class="img-responsive" /><br />
                              
</center>
        <br />
        
            <form>
               
                    <div class="form-row">
                        <div class="col-md-10">
                            <input type="text" class="form-control form-control-sm" id="mailField" placeholder="Mail here">
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="confirmMail" class="form-control btn btn-primary customBtn" onclick="sendMail();">Invite</button>
                        </div>
                        </div>
            </form>
            <hr />
        </div>

    </div>

</container>
