﻿@model ArtsukiWeb.Models.ArtsukiViewModel

@{
    ViewBag.Title = "ProfilArtsuki";
    Layout = "~/Views/Shared/_Menu.cshtml";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")bootstrap.css" />
<style>
    .profilImg{
        max-width:25%;
    }

</style>
<div class="container">
    <div class="jumbotron profil">
        <center>
            <img src="@Url.Content("~/Content/mytemplate/")img/about.jpg" class="img-thumbnail profilImg"  />
        <h1>@ViewBag.result.firstname @ViewBag.result.lastname</h1>
        <b>@ViewBag.result.role</b><p>Gender: @ViewBag.result.gender</p>
            </center>
    </div>

</div>
<p>
</p>
