﻿@model ArtsukiWeb.Models.ArtsukiViewModel


@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Menu.cshtml";
}


<!-- CONTENT -->
<div class="fotofly_fn_content">

    <!-- SPLITSCREEN -->
    <div class="fotofly_fn_page_splitscreen page_about">
        <div class="fotofly_fn_page_splitleft">
            <div class="splitscreen_title">
                <div class="in">



                </div>
            </div>
            <div class="splitscreen_title_back">
                <div class="bg"></div>
            </div>
        </div>
        <div class="fotofly_fn_page_splitright">
            <div class="in">

                <!-- RIGHT CONTENT HERE -->

                <div class="fotofly_fn_about">
                    <div class="fotofly_fn_about_in">
                        <div class="container">
                            <div class="about">

                                <div class="title_holder">
                                    <h3>@ViewBag.Result.firstname @ViewBag.Result.lastname</h3>
                                    <b>@ViewBag.Result.role</b>
                                    <ul>
                                        <li>Gender: @ViewBag.Result.gender</li>
                                        <li>Lives in: @ViewBag.Result.country</li>
                                       

                                    </ul>
                                </div>

                                <div class="info_holder">
                                    <p>
                                        @ViewBag.Result.biography
                                    </p>
                                </div>

                                <div class="fotofly_fn_social_icons">
                                    <label>Contact:</label>
                                    <ul>
                                        <li><a href="#"><i class="xcon-facebook-1"></i></a></li>
                                        <li><a href="#"><i class="xcon-twitter-1"></i></a></li>
                                        <li><a href="#"><i class="xcon-instagram"></i></a></li>
                                        <li><a href="#"><i class="xcon-pinterest-1"></i></a></li>
                                        <li><a href="#"><i class="xcon-gplus-1"></i></a></li>
                                    </ul>
                                </div>

                                <div class="signature">
                                    <img src="@Url.Content("~/Content/mytemplate/")img/sign-half-dark.png" alt="" />
                                </div>

                                <!-- FOOTER -->
                                <footer class="fotofly_fn_footer">
                                    <div class="copyright">
                                        <span>Copyright 2017. Designed by <a href="#">Frenify</a></span>
                                    </div>
                                </footer>
                                <!-- /FOOTER -->

                            </div>
                        </div>
                    </div>
                </div>



                <!-- /RIGHT CONTENT HERE -->

            </div>
        </div>
    </div>
    <!-- /SPLITSCREEN -->

</div>




<p>
</p>
