﻿@model ArtsukiWeb.Models.FriendshipViewModel

@{
    ViewBag.Title = "requests";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

<center><h2>requests</h2></center>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")bootstrap.css" />
<style>
    .element {
        height: 200px;
    }

    .sized {
        max-height: 150px;
        max-width: 150px;
    }
</style>
<br><br>
@foreach (var artsuki in ViewBag.artsukis)
{

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <a href="/Artsuki/profil/@artsuki[0] ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-2">

                            <img src="@Url.Content("~/Content/mytemplate/img/")default_user.png" class="img-thumbnail img-responsive sized" alt="" />

                        </div>
                        <div class="col-md-5 col-md-offset-2">
                            <br><br>
                            <p><strong>@artsuki[1] @artsuki[2]</strong></p>

                            <span class="badge badge-info">
                                15 followers
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
}