﻿@model IEnumerable<ArtsukiWeb.Models.ArtsukiViewModel>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Menu.cshtml";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")bootstrap.css" />
<style>
    .element{
        height:200px;
    }
    .sized{
        max-height:150px;
        max-width:150px;
    }
</style>
<center><h2>Search for :@ViewBag.result</h2></center>
<div class="container">

    @foreach (var item in ViewBag.elements)
    {


        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a href="/Artsuki/profil/@item[0] ">
            <div class="panel panel-default">
              <div class="panel-body">
                    <div class="col-md-2">
                    
                        <img src="@Url.Content("~/Content/mytemplate/img/")default_user.png" class="img-thumbnail img-responsive sized" alt="" />
                      
                    </div>
                    <div class="col-md-5 col-md-offset-2"><br><br>
                        <p><strong>@item[1] @item[2]</strong></p>
                        <p>@item[3]</p>
                        <span class="badge badge-warning">@item[4]
                        </span> 
                        <span class="badge badge-info">15 followers
                        </span>
                    </div>
            </div>
            </div></a>
                </div>
        </div>

    }
</div>



