﻿@using ArtsukiDomain.Entities
@using ArtsukiWeb.Models
@model ArtsukiDomain.Entities.Item
@{
    Layout = "~/Views/Shared/_PageWithoutFooter.cshtml";
    var uploadPath = (string) ViewBag.UploadPath;
    var Connected = (ArtsukiViewModel) ViewBag.Connected;
    var Owner = (Artsuki) ViewBag.Owner;
}
<div class="fotofly_fn_content">

    <!-- SPLITSCREEN -->
    <div class="fotofly_fn_page_splitscreen page_about">
        <div class="fotofly_fn_page_splitleft">
            <div class="splitscreen_title">
                <div class="in">



                </div>
            </div>
            <div class="splitscreen_title_back">
                <div class="bg" style="background-image: url('@uploadPath@Model.ImageName');"></div>
            </div>
        </div>
        <div class="fotofly_fn_page_splitright">
            <div class="in">

                <!-- RIGHT CONTENT HERE -->

                <div class="fotofly_fn_about">
                    <div class="fotofly_fn_about_in">
                        <div class="container">
                            <div class="about">
                                @if (Connected.id == Model.ArtsukiId)
                                {
                                    <a href="@Url.Action("Delete","Shop", new { id = Model.Id  })" onclick="return confirm('Are you sure you want to delete @Model.Label ?')">
                                        <span class="xcon-trash-empty"></span>
                                    </a>
                                    <a href="@Url.Action("Edit","Shop", new { id = Model.Id  })">
                                        <span class="xcon-tools"></span>
                                    </a>
                                }
                                <div class="title_holder">
                                    <h3>@Model.Label</h3>
                                </div>

                                <div class="info_holder">
                                    <p>@Model.Description</p>
                                </div>

                                <div class="fotofly_fn_social_icons">
                                    <label>Price:</label>
                                    <ul>
                                        <li><a href="#" style="display: inline">@Model.Price TND</a></li>
                                    </ul>
                                </div>

                                <div class="signature">
                                    Owner : @Owner.email
                                </div>
                                @if ((Connected.id != Model.ArtsukiId) && (Model.Order == null ) )
                                {
                                    <!-- FOOTER -->
                                           
                                    <footer class="fotofly_fn_footer">
                                        <div class="copyright">
                                            <a href="@Url.Action("Buy", "Shop", new {id = Model.Id})"><input type="submit" value="Buy" /></a>
                                        </div>
                                    </footer>
                                    <!-- /FOOTER -->
                                }
                                       

                            </div>
                        </div>
                    </div>
                </div>



                <!-- /RIGHT CONTENT HERE -->

            </div>
        </div>
    </div>
    <!-- /SPLITSCREEN -->

</div>