﻿@model ArtsukiDomain.Entities.Item

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_PageWithoutFooter.cshtml";
}
<div class="fotofly_fn_content">
    <!-- BREADCRUMBS -->
    <div class="fotofly_fn_breadcrumbs">
        <div class="fotofly_fn_breadcrumbs_content">
            <div class="container">
                <p>
                    <a href="/Index">Home</a>
                    /
                    <a href="/Shop/Index">Shop</a>
                    /
                    <span>Edit Item</span>
                </p>
            </div>
        </div>
    </div>
    <div class="fotofly_fn_blog_single_wrap">
        <div class="fotofly_fn_blog_single">
            <div class="blog_single">
                <div class="container">
                    <div class="blog_single_wrapper">
                        @Html.AntiForgeryToken()
                        <div class="fotofly_fn_comment_wrapper">
                            <div class="fotofly_fn_comment">

                                <!-- COMMENTS -->
                                <div class="comments">
                                    <div class="add_comment_wrap">
                                        <div class="add_comment">
                                            <div class="title_holder">
                                                <h3>Edit your item</h3>
                                            </div>
                                            @using (Html.BeginForm("Edit",
            "Shop",
            FormMethod.Post,
            new { enctype = "multipart/form-data" }))
                                            {
                                                <div class="your-name">
                                                    <label>Label<span>*</span></label>
                                                    <input type="text" id="creator-name" value="@Model.Label" name="label" placeholder="Your Label here .." />
                                                </div>
                                                <div class="your-comment">
                                                    <label>Description<span>*</span></label>
                                                    <textarea id="creator-comment" cols="3" name="description" rows="10" placeholder="Some description here ..">@Model.Description</textarea>
                                                </div>
                                                <div class="your-email">
                                                    <label>Price<span>*</span></label>
                                                    <input type="number" value="@Model.Price" name="price" required />
                                                </div>
                                                <div class="your-website">
                                                    <label>Item Image</label>
                                                    <input type="hidden" name="imageNameReserve" value="@Model.ImageName"/>
                                                    <input  type="file" name="photo" id="creator-website" placeholder="your file .." />
                                                </div>
                                                <div class="your-button">
                                                    <input type="submit" id="creator-submit" value="Add Item" />
                                                </div>
                                                @ViewBag.Message
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

>
