﻿@using ArtsukiDomain.Entities
@model IEnumerable<ArtsukiDomain.Entities.Item>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TemplateWithoutPagination.cshtml";
    var uploadPath = (string) ViewBag.UploadPath;
    
}
<div class="fotofly_fn_content">

    <!-- PORTFLOIO #3 -->
    <div class="fotofly_fn_portfolio_third" data-title-style="">
        <div class="fotofly_fn_portfolio_third_inner">
            <div class="container">
                <div class="portfolio_third">
                    <div class="title_holder">
                        <h3>Welcome to Artsuki Shop!</h3>
                        <p>Here you can buy what ever you want concerning art : Musical isntrument, Drawing tools etc. </p>
                        <p style="display: inline"> Feel Free to sell your own items! </p>
                        <p>
                        <a href="#" onclick="location.href='@Url.Action("Create","Shop")'">
                            <input type="submit" value="Add Your Own Item"/>
                        </a>
                        </p>
                    </div>
                    <div class="list_holder">
                        <div class="list_inner">
                            <ul class="fotofly_fn_masonry">
                               @if (Model == null)
                               {
                                   <li><h2>There is no Item in the shop right now!</h2>
                                       <p>Please come back another Time</p></li>
                               }
                               else
                               {
                                   foreach(var item in Model) {
                                        <li class="fotofly_fn_masonry_in" onmouseover="showDetails(@item.Id)" onmouseout="hideDetails(@item.Id)">
                                            <div class="list">
                                                <div class="img">
                                                    <a href="@Url.Action("Details","Shop", new { id = item.Id  })">
                                                        <img src="@Url.Content(uploadPath)/@item.ImageName" alt=""/>
                                                    </a>
                                                </div>
                                                <div class="title hover-title" id="title_@item.Id" style="background-color: #2C3E50; margin-bottom: -7%; display: none; opacity: 0.8">
                                                    <span><a href="@Url.Action("Details","Shop", new { id = item.Id  })">
                                                        @item.Label
                                                    </a></span>
                                                    <h3><a href="@Url.Action("Details","Shop", new { id = item.Id  })">@item.Price TND</a></h3>
                                                    @if (item.Order == null)
                                                    {
                                                        <h3 style="color: #1ABC9C">Available</h3>
                                                    }
                                                    else
                                                    {
                                                        <h3 style="color: #E74C3C">Sold</h3>
                                                    }
                                                </div>
                                            </div>
                                        </li>
                                    }
                               }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /PORTFLOIO #3 -->
   
</div>

<script>
    function showDetails(id) {
        $("#title_"+id).show();
    }
    function hideDetails(id) {
        $("#title_"+id).hide();
    }
</script>


