﻿@model IEnumerable<ArtsukiDomain.Entities.Item>
@{
    ViewBag.Title = "MyItems";
    var uploadPath = (string) ViewBag.UploadPath;
    Layout = "~/Views/Shared/_PageWithoutFooter.cshtml";
}

<div class="fotofly_fn_content">   
    <!-- PORTFOLIO -->
    <div class="fotofly_fn_portfolio_wrap">
        <div class="fotofly_fn_portfolio_content">
            <div class="fotofly_fn_portfolio">

                <!-- MAIN TITLE -->
                <div class="fotofly_fn_title">
                    <div class="fotofly_fn_title_content">
                        <span>My Posted Items</span>
                    </div>
                </div>
                <!-- /MAIN TITLE -->
                <!-- PORTFOLIO LIST -->
                <div class="portfolio_list_wrap" data-col="">
                    <div class="portfolio_list">
                        <ul>
                            @foreach (var item in Model)
                            {
                                <li>
                                    <div class="port_list_single">
                                        <div class="port_img">
                                            <img src="@Url.Content(uploadPath)@item.ImageName" alt="" />
                                        </div>
                                        <div class="port_cat">
                                            <a href="@Url.Action("Details", "Shop", new {id = item.Id})" >
                                                <span class="text">@item.Label<span class="line"></span></span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            }
                            
                        </ul>
                    </div>
                    <div class="portfolio_btn">
                        <a href="@Url.Action("Index", "Shop")">Shop</a>
                    </div>
                </div>
                <!-- /PORTFOLIO LIST -->

            </div>
        </div>
    </div>
    <!-- /PORTFOLIO -->

</div>

