﻿@model IEnumerable<ArtsukiDomain.Entities.Order>
@{
    ViewBag.Title = "MyOrders";
    var UploadPath = (string) ViewBag.UploadPath;
    Layout = "~/Views/Shared/_PageWithoutFooter.cshtml";
}
 <!-- CONTENT -->
<div class="fotofly_fn_content">

    <!-- CLIENTS -->
    <div class="fotofly_fn_clients">
        <div class="fotofly_fn_clients_in">
            <div class="container">
                <div class="clients_wrap">

                    <!-- BREADCRUMBS -->
                    <div class="fotofly_fn_breadcrumbs">
                        <div class="fotofly_fn_breadcrumbs_content">
                            <div class="container">
                                <p>
                                    <a href="index-2.html">Shop</a>
                                    /
                                    <span>MyOrders</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /BREADCRUMBS -->


                    <div class="title_holder">
                        <h3>My Ordred Items</h3>
                    </div>


                    <div class="clients_list">
                        <ul class="fotofly_fn_masonry">
                            @if (Model != null)
                            {
                                foreach (var order in Model)
                                {
                                    <li class="fotofly_fn_masonry_in">
                                        <div class="item">
                                            <div class="img_holder">
                                                <a href="#"><img src="@Url.Content(UploadPath)@order.Item.ImageName" style="height: 150px; width: 150px" alt=""/></a>
                                            </div>
                                            <div class="name_holder">
                                                <span>@order.Item.Label</span>
                                                <a href="#">@order.Amount TND</a>
                                            </div>
                                            <div class="name_holder">
                                                <span>@order.OrderDate</span>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                            else
                            {
                                <h2>You Have Not Order Any Item Yet !</h2>
                                <p>Please Visit Our Shop From 
                                <a href="#"  onclick="location.href='@Url.Action("Index", "Shop")'">
                                    Here
                                </a></p>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /CLIENTS -->

</div>
<!-- /CONTENT -->