﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<!-- CONTENT -->
<div class="fotofly_fn_content">

    <!-- FLEXSLIDER -->
    <div class="fotofly_fn_mainslider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="overlay">
                        <div class="overlay_img"></div>
                        <div class="overlay_color"></div>
                    </div>
                </li>
                <li>
                    <div class="overlay">
                        <div class="overlay_img"></div>
                        <div class="overlay_color"></div>
                    </div>
                </li>
                <li>
                    <div class="overlay">
                        <div class="overlay_img"></div>
                        <div class="overlay_color"></div>
                    </div>
                </li>
                <li>
                    <div class="overlay">
                        <div class="overlay_img"></div>
                        <div class="overlay_color"></div>
                    </div>
                </li>
                <li>
                    <div class="overlay">
                        <div class="overlay_img"></div>
                        <div class="overlay_color"></div>
                    </div>
                </li>
                <li>
                    <div class="overlay">
                        <div class="overlay_img"></div>
                        <div class="overlay_color"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /FLEXSLIDER -->
    <!-- PORTFOLIO -->
    <div class="fotofly_fn_portfolio_wrap">
        <div class="fotofly_fn_portfolio_content">
            <div class="fotofly_fn_portfolio">

                <!-- MAIN TITLE -->
                <div class="fotofly_fn_title">
                    <div class="fotofly_fn_title_content">
                        <span>Portfolio Showcase</span>
                    </div>
                </div>
                <!-- /MAIN TITLE -->
                <!-- PORTFOLIO LIST -->
                <div class="portfolio_list_wrap" data-col="">
                    <div class="portfolio_list">
                        <ul>
                            <li>
                                <div class="port_list_single">
                                    <div class="port_img">
                                        <img src="@Url.Content("~/Content/Upload/Portfolio/test.jpg")" alt="" />
                                    </div>
                                    <div class="port_cat">
                                        <a href="#">
                                            <span class="text">Commercial<span class="line"></span></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="port_list_single">
                                    <div class="port_img">
                                        <img src="@Url.Content("~/Content/Upload/Portfolio/test3.jpg")" alt="" />
                                    </div>
                                    <div class="port_cat">
                                        <a href="#">
                                            <span class="text">Editorial<span class="line"></span></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="port_list_single">
                                    <div class="port_img">
                                        <img src="@Url.Content("~/Content/Upload/Portfolio/test4.jpg")" alt="" />
                                    </div>
                                    <div class="port_cat">
                                        <a href="#">
                                            <span class="text">Personal<span class="line"></span></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="portfolio_btn">
                        <a href="portfolio1.html">Discover My Portfolio</a>
                    </div>
                </div>
                <!-- /PORTFOLIO LIST -->

            </div>
        </div>
    </div>
    <!-- /PORTFOLIO -->

</div>
<!-- /CONTENT -->
