﻿@model ArtsukiWeb.Models.ArtworkViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_TemplateWithoutPagination.cshtml";
}
<div class="fotofly_fn_content">
    <div class="fotofly_fn_blog_single_wrap">
        <div class="fotofly_fn_blog_single">
            <div class="blog_single">
                <div class="container">
                    <div class="blog_single_wrapper">
                        @Html.AntiForgeryToken()
                        <div class="fotofly_fn_comment_wrapper">
                            <div class="fotofly_fn_comment">
                                <!-- COMMENTS -->
                                <div class="comments">
                                    <div class="add_comment_wrap" style="display: flex; justify-content: space-between; padding: 50px 110px 0px 150px">
                                        @using (Html.BeginForm("Create", "Artwork",FormMethod.Post,new { enctype = "multipart/form-data" }))
                                        {
                                            <div class="add_comment" style="display: flex;justify-content: space-between;height: 400px;flex-wrap: wrap;flex-direction: column;width: 1100px;">
                                                <div class="title_holder">
                                                    <h3>Create a new Artwork</h3>
                                                </div>
                                                <div class="your-title">
                                                    <label style="font-size: 1.5em; font-weight: bold">Title<span>*</span></label>
                                                    <input required type="text" id="creator-name" name="title" placeholder="Your Title" />
                                                </div>
                                                <div class="your-description">
                                                    <label style="font-size: 1.5em; font-weight: bold">Description<span>*</span></label>
                                                    <textarea required id="creator-comment" style="width: 340px; min-width: inherit;" cols="3" name="description" rows="10" placeholder="Some description here .."></textarea>
                                                </div>
                                                <div class="your-category">
                                                    <label style="font-size: 1.5em; font-weight: bold">Category<span>*</span></label>
                                                    <select value="" name="category">
                                                        <option value="SCULPTURE">SCULPTURE</option>
                                                        <option value="PAINTING">PAINTING</option>
                                                        <option value="MUSIC">MUSIC</option>
                                                        <option value="POEM">POEM</option>
                                                        <option value="BOOK">BOOK</option>
                                                        <option value="PLAY">PLAY</option>
                                                        <option value="TRAILER">TRAILER</option>
                                                        <option value="PHOTO">PHOTO</option>
                                                        <option value="COMICS">COMICS</option>
                                                    </select>
                                                </div>
                                                <div class="your-price">
                                                    <label style="font-size: 1.5em; font-weight: bold">Price<span>*</span></label>
                                                    <input required type="number" id="creator-name" name="price" placeholder="Your Price">
                                                </div>
                                                <div class="your-photo">
                                                    <label style="font-size: 1.5em; font-weight: bold">Photo<span>*</span></label>
                                                    <input required type="file" name="photo" id="creator-website" placeholder="your file ..">
                                                </div>
                                                <div class="your-button">
                                                    <input type="submit" id="creator-submit" value="Create Your Artwork">
                                                </div>
                                            </div>
                                            @ViewBag.Message
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
