﻿@using ArtsukiWeb.Models;
@model ArtsukiWeb.Models.ArtworkViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_TemplateWithoutPagination.cshtml";
    var amount = Model.price * 100;
    var Connected = (ArtsukiViewModel)ViewBag.Connected;
}

<div class="fotofly_fn_content">
    <div class="fotofly_fn_blog_single_wrap">
        <div class="fotofly_fn_blog_single">
            <div class="blog_single">
                <div class="container">
                    <div class="blog_single_wrapper" style="display: flex;flex-wrap: wrap;justify-content: space-around;padding: 30px 0px; height: 550px;">
                        <div style= "height: 400px; width: 600px;" data-speed=".55">
                            <img src="@Url.Content("~/Content/Upload/Portfolio")/@Model.mediaPath" style="min-height: 400px; max-height: 600px; min-width: 600px; max-width: 700px; box-shadow: 10px 10px 5px #888888;" />
                        </div>
                        <div class="post_content" style="width: 350px;padding: 0px 0px;">
                            <div class="title_holder" style="display: flex;flex-wrap: wrap;justify-content: flex-end; border-style: solid; border-width: 5px; padding: 10px">
                                @if (Model.publisher.id == Connected.id)
                                {
                                    <div style="width: inherit; display: flex; justify-content: flex-end ">
                                        <div class="your-button">
                                            <a onclick="location.href = '@Url.Action("Edit", "Artwork", new {id = Model.id})'">
                                                <span class="xcon-tools" style="font-size: 50px;"></span>
                                            </a>
                                        </div>
                                        <div class="your-button">
                                            <a onclick="location.href = '@Url.Action("Delete", "Artwork", new {id = Model.id})'">
                                                <span class="xcon-trash-empty" style="font-size: 50px;"></span>
                                            </a>
                                        </div>
                                    </div>
                                }
                                <h3 style="font-size: 40px;padding-top: 50px;">@Model.title by @Model.publisher.username</h3>
                                <p class="post_intro">@Model.description</p>
                                <span>
                                    <a href="#" style="font-size: 2em;">@Model.category</a>
                                </span>

                                @if ((Model.publisher.id != Connected.id) & (Model.forSale.Equals(true)))
                                {
                                    <span>
                                        <a></a><span class="date" style="font-size: 2em; font-weight: bold; color: green">@Model.price $</span>
                                    </span>
                                    <form action="/Artwork/Charge" method="POST">
                                        <input type="hidden" value="@Model.price" name="amount" />
                                        <input type="hidden" name="artworkId" value="@Model.id" />
                                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                data-key="pk_test_B8rIDwoPvBxtx66i7Ex5mYPH"
                                                data-amount="@amount"
                                                data-name="Demo Site"
                                                data-description="Widget"
                                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                                data-locale="auto"
                                                data-zip-code="true">
                                        </script>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

