﻿@model ArtsukiWeb.Models.ArtworkViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_TemplateWithoutPagination.cshtml";
}

<div class="fotofly_fn_content">
    <div class="fotofly_fn_blog_single_wrap">
        <div class="fotofly_fn_blog_single">
            <div class="blog_single">
                <div class="container">
                    <div class="blog_single_wrapper" style="display: flex;flex-wrap: wrap;justify-content: space-between;padding: 30px 0px;height: 660px;">
                        <div class="post_img" style="width: 750px;height: 600px;">
                            <div class="bg-img jarallax" style="background-image:url('@Url.Content("~/Content/Upload/Portfolio")/@Model.mediaPath'); background-size: contain; background-repeat: no-repeat; height: 600px; width: 750px; min-height: 600px; box-shadow: 10px 10px 5px #888888;" data-speed=".55"></div>
                        </div>
                        <form action="/Artwork/Edit/@Model.id" enctype="multipart/form-data" method="post" style="width: 350px; display: flex; justify-content: flex-start">
                            <div class="add_comment" style="display: flex;flex-flow: column;justify-content: space-between;height: 600px;">
                                <div class="title_holder">
                                    <h3 style="font-size: 2em;height: 30px;margin: 0px;">Update your Artwork</h3>
                                </div>
                                <div class="your-name" style="display: flex;flex-flow: column;">
                                    <label style="font-size: 1.5em; font-weight: bold">Title<span>*</span></label>
                                    <input type="text" value="@Model.title" name="title" placeholder="Your Title" />
                                </div>
                                <div class="your-comment" style="display: flex;flex-flow: column;">
                                    <label style="font-size: 1.5em; font-weight: bold">Description<span>*</span></label>
                                    <textarea id="creator-comment" cols="1" name="description" rows="5" placeholder="Some description here ..">@Model.description</textarea>
                                </div>
                                <div class="your-email" style="display: flex;flex-flow: column;">
                                    <label style="font-size: 1.5em; font-weight: bold">Category<span>*</span></label>
                                    <select required value="@Model.category" name="category">
                                        <option value="Choose...">Choose...</option>
                                        <option value="SCULPTURE">SCULPTURE</option>
                                        <option value="PAINTING">PAINTING</option>
                                        <option value="MUSIC">MUSIC</option>
                                        <option value="POEM">POEM</option>
                                        <option value="BOOK">BOOK</option>
                                        <option value="PLAY">PLAY</option>
                                        <option value="TRAILER">TRAILER</option>
                                        <option value="PHOTO">PHOTO</option>
                                        <option value="COMICS">COMICS</option>
                                    </select>
                                </div>
                                <div class="your-name" style="display: flex;flex-flow: column;">
                                    <label style="font-size: 1.5em; font-weight: bold">Price<span>*</span></label>
                                    <input type="number" value="@Model.price" id="creator-name" name="price" placeholder="Your Price" />
                                </div>
                                <div class="your-website" style="display: flex;flex-flow: column;">
                                    <label style="font-size: 1.5em; font-weight: bold">Photo</label>
                                    <input type="file" name="photo" id="creator-website" placeholder="your file .." />
                                </div>
                                <input type="hidden" name="imageNameReserve" value="@Model.mediaPath" />
                                <div class="your-button">
                                    <input type="submit" id="creator-submit" value="Update Your Artwork" style="background-color: red" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</di