﻿
@using ArtsukiWeb.Models;
@model IEnumerable<ArtsukiWeb.Models.ArtworkViewModel>
@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_TemplateWithoutPagination.cshtml";
}

<div class="fotofly_fn_content">
    <div class="fotofly_fn_proofing">
        <div class="fotofly_fn_proofing_in">
            <div class="container">
                <div class="proofing_wrapper">
                    <div class="proofing_content">
                        <br />
                        <div class="title_holder" style="display: flex;justify-content: space-around;">
                            @using (Html.BeginForm("Criteria", "Artwork", FormMethod.Post))
                            {
                                <div class="your-title" style="display: flex;">
                                    <div class="your-category">
                                        <select value="" name="category" style="height: 40px;">
                                            <option value="SCULPTURE">SCULPTURE</option>
                                            <option value="PAINTING">PAINTING</option>
                                            <option value="MUSIC">MUSIC</option>
                                            <option value="POEM">POEM</option>
                                            <option value="BOOK">BOOK</option>
                                            <option value="PLAY">PLAY</option>
                                            <option value="TRAILER">TRAILER</option>
                                            <option value="PHOTO">PHOTO</option>
                                            <option value="COMICS">COMICS</option>
                                        </select>
                                    </div>
                                    <div class="your-button">
                                        <input type="submit" style="background-color: red" id="creator-submit" value="Search">
                                    </div>
                                </div>
                                @ViewBag.Message
                            }
                            @using (Html.BeginForm("Filter", "Artwork", FormMethod.Post))
                            {
                                <div class="your-title" style="display: flex;">
                                    <div class="your-price" style="width: 100px; min-width: 100px; height: 40px;">
                                        <input type="number" id="creator-name" name="minPrice" placeholder="Min Price" style="width: 100px;min-width: 100px;">
                                    </div>
                                    <div class="your-price" style="width: 100px; min-width: 100px; height: 40px;">
                                        <input type="number" id="creator-name" name="maxPrice" placeholder="Max Price" style="width: 100px;min-width: 100px;">
                                    </div>
                                    <div class="your-button">
                                        <input type="submit" style="background-color: red" id="creator-submit" value="Filter">
                                    </div>
                                </div>
                                @ViewBag.Message
                            }
                            <div class="your-title">
                                <a href="#" onclick="location.href = '@Url.Action("Create", "Artwork")'">
                                    <input type="submit" style="background-color: red" value="Add New Artwork" />
                                </a>
                            </div>
                        </div>

                        <div class="proofing_list gallery_zoom">
                            <ul class="fotofly_fn_masonry">
                                @foreach (ArtworkViewModel artwork in Model)
                                {
                                    <li class="fotofly_fn_masonry_in" style="position: absolute;left: 0px;top: 0px;display: flex;flex-direction: column;align-items: center;">
                                        <div class="item" onclick="location.href='@Url.Action("Details","Artwork",new { id = artwork.id  })'">
                                            <div class="img" style="box-shadow: 10px 10px 5px #888888;">
                                                <img src="@Url.Content("~/Content/Upload/Portfolio")/@artwork.mediaPath" alt="" />
                                            </div>
                                            <div class="overlay">
                                                <div class="overlay_content">
                                                    <div class="in" style="font-size: 2.5em; font-weight: bold; color: black">@artwork.title</div>
                                                </div>
                                                <div class="overlay_color" style="background-color: rgba(240, 255, 255, 0.6)"></div>
                                            </div>
                                        </div>
                                        <div hidden class="item_id">
                                            <span class="id" style="font-size: 20px;font-family: cursive;text-decoration: underline;">By @artwork.publisher.username</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
