﻿@using ArtsukiWeb.Models

@{
    ViewBag.Title = "MyArtworks";
    Layout = "~/Views/Shared/_TemplateWithoutPagination.cshtml";
}

<div class="fotofly_fn_content">
    <div class="fotofly_fn_proofing">
        <div class="fotofly_fn_proofing_in">
            <div class="container">
                <div class="proofing_wrapper">
                    <div class="proofing_content">
                        <h2>MyArtworks</h2>
                        <div class="title_holder">
                            <ul>
                                <li>
                                    <span class="label">Client:</span>
                                    <span class="value">Jessica Robertson</span>
                                </li>
                                <li>
                                    <span class="label">Date:</span>
                                    <span class="value">January 5, 2017</span>
                                </li>
                                <li>
                                    <span class="label">Images:</span>
                                    <span class="value">37</span>
                                </li>
                                <li>
                                    <a href="#" onclick="location.href = '@Url.Action("Create", "Artwork")'">
                                        <input type="submit" style="background-color: red" value="Add New Artwork" />
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="proofing_list gallery_zoom">
                            <ul class="fotofly_fn_masonry">
                                @foreach (ArtworkViewModel artwork in Model)
                                {
                                    <li class="fotofly_fn_masonry_in" href="#" onclick="location.href='@Url.Action("Details","Artwork",new { id = artwork.id  })'">
                                        <div class="item">
                                            <div class="img">
                                                <img src="@Url.Content("~/Content/Upload/Portfolio")/@artwork.mediaPath" alt="" />
                                            </div>
                                            <div class="item_id">
                                                <span class="id">@artwork.price $</span>
                                                <span class="check"><img class="svg" src="img/svg/verification-mark.svg" alt="" /></span>
                                            </div>
                                            <div class="overlay">
                                                <div class="overlay_content">
                                                    <div class="in" style="font-size: 2em">@artwork.title</div>
                                                </div>
                                                <div class="overlay_color" style="background-color: rgba(240, 255, 255, 0.4)"></div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



